.content[data-v-ec8977d2]{padding:12px 16px}body{display:block!important;place-items:normal!important;min-height:100vh;margin:0}#app{max-width:none!important;margin:0!important;padding:0!important;text-align:left!important}
